.plan-container{
    display: flex;
flex-direction: column;
border: 3px solid rgb(195, 195, 195);
padding: 30px 30px 30px 45px;
margin-top: 10px;

}
.streams{
    color: black;
font-size: 18px;
width: 750px;
margin-top: 2px;

}
.posts{
    color: black;
font-size: 18px;
width: 750px;
margin-top: 2px;

}
.other-perks{
    color: black;
font-size: 18px;
width: 750px;
margin-top: 2px;

}
.price{
    color: black;
font-size: 18px;
width: 750px;
margin-top: 2px;

}
.view-btn{
    margin-left: auto;
margin-right: 0px;
border-radius: 5px;
border: 1px solid #142683;
background: green;
padding: 10px;
color: white;
font-size: 16px;
font-weight: 700;
height: fit-content;
cursor: pointer;

}
.amount{
    color: black;
font-size: 18px;
width: 750px;
margin-top: 2px;

}
.purchase{
    color: black;
font-size: 18px;
width: 750px;
margin-top: 2px;

}